@import 'theme-color-variables';

.theme-cyan {
    .navbar {
        background-color: $theme-cyan;
        border-bottom: solid 4px $theme-cyan-border-bottom;

        .label-count {
            position: absolute;
            top: 2px;
            right: 6px;
            font-size: 10px;
            line-height: 15px;
            background-color: $theme-cyan-label-count;
            padding: 0 4px;
            @include border-radius(50px);
        }
    }
    .navbar-brand {
        color: $theme-cyan-navbar-brand;

        &:hover {
            color: $theme-cyan-navbar-brand_hover;
        }

        &:active {
            color: $theme-cyan-navbar-brand_active;
        }

        &:focus {
            color: $theme-cyan-navbar-brand_focus;
        }
    }

    .nav {
        > li {
            > a {
                color: $theme-cyan-nav-anchor;

                &:hover {
                    background-color: $theme-cyan-nav-anchor_hover;
                }

                &:focus {
                    background-color: $theme-cyan-nav-anchor_focus;
                }
            }
        }

        .open {
            > a {
                background-color: $theme-cyan-nav-anchor-opened;

                &:hover {
                    background-color: $theme-cyan-nav-anchor-opened_hover;
                }

                &:focus {
                    background-color: $theme-cyan-nav-anchor-opened_focus;
                }
            }
        }
    }

    .bars {
        color: $theme-cyan-bar;
    }

    .sidebar {
        .menu {
            .list {
                li.active {
                    background-color: $theme-cyan-menu-list-active;

                    > :first-child {
                        i, span {
                            color: $theme-cyan-border-bottom;
                        }
                    }
                }
                li {
                    background-color: $theme-cyan-menu-list-active;
                    i, span,a {
                        color: $theme-cyan;
                    }
                }


                .toggled {
                    background-color: $theme-cyan-menu-list-toggled;
                }

                .ml-menu {
                    background-color: $theme-cyan-menu-list-submenu;
                }
            }
        }

        .legal {
            background-color: $theme-cyan-legal-bg;

            .copyright {
                a {
                    color: $theme-cyan !important;
                }
            }
        }
    }

    .dtp {
        .p10 > a { color: $theme-cyan; text-decoration: none; }

    }
    .dtp {
        .dtp-content {
            .dtp-date-view {
                header.dtp-header
                {
                    background: $theme-cyan;;
                    color: #fff;
                    text-align: center;
                    padding: 0.3em;
                }
            }
        }
        div.dtp-date{
            background: $theme-cyan-border-bottom; text-align: center; color: #fff; padding: 10px;
        }
        div.dtp-time{
            background: $theme-cyan-border-bottom; text-align: center; color: #fff; padding: 10px;
        }
        table.dtp-picker-days{
            tr{
                td{
                    a.selected{ background: $theme-cyan;; color: #fff; }
                }

            }
        }

    }
    .dtp {
        .dtp-actual-meridien {
            a.selected {
                background: $theme-cyan; color: #fff;
            }
        }
    }
    .input-group {
        .form-line {
            &:after {
                border-bottom: 2px solid $theme-cyan-border-bottom !important;
            }
        }
    }

    .form-line {
        &:after {
            border-bottom: 2px solid $theme-cyan-border-bottom;
        }
    }
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: $theme-cyan-border-bottom !important;
    }

    .block-header {
        h2 {
            color: $theme-cyan-border-bottom !important;

        }
    }
    .dataTables_wrapper {
        input[type="search"] {
            border: 1px solid #e9e9e9;
            //border-bottom: 2px solid $theme-cyan-border-bottom;

            &:focus,
            &:active {
                border-bottom: 2px solid $theme-cyan-border-bottom;
            }
        }
    }


    .pagination {
        li.active {
            a {
                background-color: $theme-cyan;
            }
        }
    }

    .action
    {
        a{cursor: pointer;
            i{
                color: #aaaaaa;
                font-size: 20px;
            }
        }
    }
    .modal {
        .modal-header {
            background:$theme-cyan-border-bottom ;
            color: #fff;

        }
    }
    .pagination
    {
        .active > a,
        .active > a:hover,
        .active > a:focus,
        .active > span,
        .active > span:hover,
        .active > span:focus
        {
            z-index: 3;
            color: #fff;
            background-color: $theme-cyan-border-bottom;
            border-color: $theme-cyan-border-bottom;
            cursor: default;
        }
    }
    .dd3-handle {
        background: $theme-cyan-border-bottom !important;
    }
    .dd3-content
    {
        color: $theme-cyan;

    }
    .dd3-content:hover {
        color: $theme-cyan-border-bottom;
    }
    .spinner-layer.pl-cyan
    {
        border-color: $theme-cyan-border-bottom;
    }
    .login-page {
        background-color: $theme-cyan;
        .login-box {
            a {
                font-size: 14px;
                text-decoration: none;
                color: $theme-cyan-border-bottom;
            }
        }
    }
    .signup-page {
        background-color: $theme-cyan;
        .signup-box {
            a {
                color: $theme-cyan-border-bottom;
            }
        }
    }
    .fp-page {
        background-color: $theme-cyan;
        .fp-box {
            a {
                font-size: 14px;
                text-decoration: none;
                color: $theme-cyan-border-bottom;
            }
        }
    }
    .progress .progress-bar-success
    {
        background-color: $theme-cyan-border-bottom;
    }
    .chat ul li.other .message {
        background-color: $theme-cyan-border-bottom;
    }
    .chat ul li.you .message {
        background-color: $theme-cyan;
    }
    .chat ul li.other .message:after
    {
        border-top: 17px solid $theme-cyan-border-bottom;
    }
    .chat ul li.you .message:after
    {
        border-top: 17px solid $theme-cyan;
    }
    .user-info {
        background: url('../images/user-img-background.png') no-repeat no-repeat;
    }
}
